PORT=3000
WEIGHTS_PATH=ai_model/best.pt
UNET_PATH=ai_model/unet_breast.pth
MONGO_URI=mongodb+srv://taivutann_db_user:d1ukZq5Fsw04BRFh@cluster0.biolz52.mongodb.net/?appName=Cluster0
MONGO_DB=breast_cancer
MONGO_COLLECTION=predictions
